{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body class="q">
<div id="b">
<center><h1 style="font-family:Gabriola;">Welcome to Smart TODO</h1></center>
</div>
    <center><h3 id="h">We help you to do your tasks in a pattern and stored it in your memory</h3></center>
<br>
<center><a href="/signup" class="bt">Get Started</a></center>

<img src="https://cdn.dribbble.com/users/119802/screenshots/7065201/media/36ca22b65eb4d45e8182e04e1b58bc60.gif"  style="width:500px;height:350px;" class="anm">
<img src="https://cdn.dribbble.com/users/4241563/screenshots/11874468/media/7796309c77cf752615a3f9062e6a3b3d.gif" style="width:500px;height:350px;" class="anm1">
</body>
</html>




