{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasklist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
{% if user.is_authenticated %}

<div>
    <a href="details/"><button title="About" class="home">About</button></a>
     <a href="{% url 'signout' %}"><button title="Signout" class="about">Signout</button></a>
     <button title="Homepage" class="signout">Home</button></div>

    <tr>
        <br>
        <br>
        <br>
<center>


    <h3 class="user"> <i title="Account" style="color:blue" class="bi bi-person-circle"></i> {{ request.user }} </h3>
     {% include 'login-messege.html' %}
      <h2>Tasks</h2><hr>
 <a href="{% url 'task-create' %}"><p title="Add a new task" class="btn btn-primary">Create new Task</p></a></center>
        <br>

        <div>
<center><table style="width:22%" class="box">


    </tr>
 {% for tasks in task %}
    <tr>
        {% if tasks.complete == True %}
    <td style="color:red"><strike>{{tasks.title}}</strike></td>
        {% else %}
        <td style="font-family:Leelawadee UI">{{tasks.title}}</td>
        {% endif %}
         <td><a title="Edit"  href="{% url 'task-update' tasks.id %}"><i class="bi bi-pencil-square" style="color:green"></i></a></td>
         <td> <a title="Delete" href="{% url 'task-delete' tasks.id %}"><i class="bi bi-trash3-fill" style="color:red"></i></a></td>
        <td> <a title="View" href="{% url 'task-detail' tasks.id %}"><i class="bi bi-clipboard-minus"></i></a></td>

    </tr>
    {% empty %}
    <h1 class="user-head"> Hii {{user}}, Add Your first task here....</h1>

    {% endfor %}

</table></center></div>


 <button title="Dark Mode"  class="dark-mode-btn" onclick="myFunction()"><i class="bi bi-brightness-alt-high-fill"></i></button>
<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}

</script>

{% endif %}
</body>
</html>







