{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tasklist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body style="background-color: lightblue">
<div>
<button class="home"> <a href="details/">About</a></button>
     <button class="about"><a href="/signin">Signout</a></button>
     <button class="signout">Home</button></div>

    <tr>
        <br>
        <br>
        <br>
<center>
      <h2>Tasks</h2>
 <a href="{% url 'task-create' %}" class="addtask">Create new Task</a></center>
        <br>
        <br>
        <div>
<center><table class="box">


    </tr>
 {% for tasks in task %}
    <tr>
        {% if tasks.complete == True %}
    <td style="color:red"><strike>{{tasks.title}}</strike></td>
        {% else %}
        <td style="font-family:Leelawadee UI">{{tasks.title}}</td>
        {% endif %}
         <td><a href="{% url 'task-update' tasks.id %}" class="edit">Edit &#128221;</a> </td>
         <td> <a href="{% url 'task-delete' tasks.id %}" class="delete">Delete&#128465;</a> </td>
        <td> <a href="{% url 'task-detail' tasks.id %}" class="details">Details&#128269;</a> </td>
    </tr>
    {% endfor %}

</table></center></div>


</body>
</html>







