
#b {
  color: green;
  font-family: verdana;
  font-size: 200%;
}
 #h {
  color: blue;
  font-family: italic;
  font-size: 155%;
}
 .bt {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input {
  width: 50%;
  padding: 10px;
  margin: 4px  22px ;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.a{
  color: green;
   font-size: 19px;
   font-weight: bold;
}

.signup {
  float: left;
  width: 53%;
  padding: 15px;
   background-color: #04aa6d;
   cursor: pointer;
   opacity:1;
}
 .signin {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.absolute {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 500px;
  height: 200px;
  border: 1px solid #73AD21;
  background-color: lightgray;
  padding-left: 15px;
}

.addtask {
   background-color:#bf00ff;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.q {
background-color: lightgrey;
}

 .anm {
  position: absolute;
  top: 360px;
  left: 270px;
  opacity:.7;
}

 .anm1 {
  position: absolute;
  top: 360px;
  left:770px;
  opacity:.7;
}

 .edit {
    background-color: #4CAF50;
 border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
    border-radius: 45%;

}

 .delete {
    background-color: red;
 border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
    border-radius: 45%;

}

 .details {
    background-color: blue;
 border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
    border-radius: 45%;

}


 .taskdel {
  border: 0px solid black;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: lightgreen;

}

.submit {
cursor: pointer;
}
.submit:hover {
  background-color: red;
  color: white;
}

.submit2 {
cursor: pointer;
}
.submit2:hover {
  background-color: green;
  color: white;
}


.signout {
background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }

.create {
 border: 0px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: lightgreen;


}

  .description {
 background-color: lightgreen;
  width: 1000px;
  border: 0px violet;
  padding: 50px;
  margin: 50px;

}




.home {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
   display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.home:hover {
  background-color: lightgreen;
}

.about {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
   display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: absolute;
  top: 5%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.about:hover {
  background-color: lightgreen;
}




.signout {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
   display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
}
.signout:hover {
  background-color: lightgreen;
}